fastapi
uvicorn
python-dotenv
requests
beautifulsoup4
sentence-transformers
protobuf==3.20.3
python-docx 
PyMuPDF
python-docx
extract-msg
validators
filetype
scikit-learn
pinecone==3.0.0
openai
tiktoken
numpy
